     

body
{
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows:auto 1fr auto;   

}

.navbar
{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); 

}

/* MAIN */

.quote 
{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    margin-top: 100px;
    margin-bottom:100px;
}

.accordion
{
    height: 400px;
    width: 800px;
    margin-left: 200px;
    margin-top: 100px;
}

.recap
{
    text-align: center;
    margin-bottom:50px;
}

.event
 {
     margin-bottom: 100px;
     
 }

 .card
 {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);    
 }


  /* MAIN */

 /* CONTACT FORM */

 .style_1
{
    margin: 40px 0;
    justify-content: center;    
}
 .news_4 form{
    background-color: #fff;
   -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
   -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); 
   border-radius: 20px;
   padding: 40px;
   margin: 20px 0;
}
.news_4 form .form-row{
    margin-bottom: 15px;
}
.news_4 form h4{
    font-size: 20px;
    color: #000 !important;
    margin-bottom: 10px;
}
.news_4 form p{
    color: #777;
    font-size: 14px;
    margin: 25px 0;
}
.news_4 form label{
    font-size: 13px;
    font-weight: bold;
    color: #000 !important;
    letter-spacing: 0.5px;
}
.news_4 form .underline{
     width: 40px;
     height: 3px;
     border: none;
     background-color: #F0D6DA;
}
.news_4 form .form-control{
    border: solid 2px #eee;
    border-radius: 20px;
    height: 35px;
    padding: 10px;
    font-size: 13px;
    color: #777;
} 
.news_4 form textarea.form-control{
    border-radius: 15px;
    height: 120px;
    padding: 20px;
}
.news_4 form .btn{
    background-color: #F0D6DA;
    color: #fff;
    margin-top: 10px;
    border-radius: 15px;
    padding: 5px 20px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

 /* CONTACT FORM */



/* STYLE EVENEMENT PAGE */

.header-event
{
    margin-bottom: 100px;
}

h1
{
    text-align: center;
    margin-bottom:50px;
}

.card-event
{
    margin: 0;

}

/* STYLE EVENEMENT PAGE */


/* MEDIA QUERIE */

@media (min-width: 320px) and (max-width: 480px)

{
    .card-group
    {
        display: flex; 
        flex-direction: column;
    }
    
    
    
}
@media (min-width: 481px) and (max-width: 768px)

{
    .card-group
    {
        display: flex;
        flex-direction: column;
    }
    
    
    
}
@media (min-width: 769px) and (max-width: 1024px)

{
    .card-group
    {
        display: flex;
        flex-direction: column;
    }

   
    
    
}
@media (min-width: 1025px) 

{
    
    
    
}

